.banner {
  position: relative;
  height: 180px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 50px;
  padding: 20px;
  background-size: cover;
  background-position: center;
  border-radius: 25px; /* Ajout de la propriété border-radius */
  @media screen and (max-width: 600px){
    margin: 50px 0px;
  }
}

.banner_filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/BackgroundFilter.png');
  background-size: cover;
  border-radius: 25px;
  @media screen and (max-width: 600px){
    
    border-radius: 25px; /* Ajout de la propriété border-radius */
  }
}

h1.banner_title {
  color: $tertiary-color;
  font-size: 52px;
  text-align: center;
  z-index: 1;
  @media screen and (max-width: 600px){
    font-size: 30px;
  }
}