.banner {
  position: relative;
  height: 180px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 50px;
  padding: 20px;
  background-size: cover;
  background-position: center;
  filter: brightness(0.9);
  @media screen and (max-width: 600px){
    margin: 50px 0px;
  }
}

  h1.banner_title {
    color: $tertiary-color;
    font-size: 52px;
    text-align: center;
    text-shadow: 0px 0px 5px rgb(79, 75, 75);
    @media screen and (max-width: 600px){
      font-size: 30px;
      }
}
