.collapse {
    display: flex;
    flex-direction: column;
    width: 100%;
   
}

.visible.collapse ul {
    color: $primary-color;
    padding: 36px 27px 19px 18px;
    margin: 0;
    text-align: justify;
    list-style-type: none;
}

.collapse__header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    height: 28px;
    background-color: $primary-color;
    color: $tertiary-color ;
    font-size: 22px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
}

.collapse__header span {
    padding-right: auto;
}
/* affiche le contenu */
.visible {
    display: block;
    background-color: $secondary-color;
}

/* cache le contenu */
.hidden {
    display: none;
}

.chevronValue img {
    width: 25px;
    height: 15px;
}

.visible.collapse {
    position: relative;
    top: -10px;
    font-size: 18px;
    color: $primary-color;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 9px rgb(197, 195, 195);
    z-index: -1;    /* passe la zone de contenu sous la zone de titre*/
}

.equipement-content {
    margin: 0;
}