/* Styles pour le FOOTER */
.footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 200px; /* Ajuste la hauteur automatique pour s'adapter au contenu */
  padding: 0px; /* Ajoute une certaine marge intérieure pour l'espace */
  background-color: $footer-color;
  color: $tertiary-color;
  text-align: center;
}

/* Styles pour le logo */
.footer img {
  width: 130px; /* Ajuste la largeur du logo selon vos préférences */
 /* Garantit que l'aspect ratio est maintenu */
  margin-bottom: center;
}

/* Styles pour le texte */
.text_footer {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 10px; /* Ajoute une petite marge en haut pour l'espace */
  max-width: 100%; /* Limite la largeur du texte pour un aspect allongé */
}
