.footer {
  position: relative; /* Utilisation de position: absolute */
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 200px; 
  padding: 0px; 
  background-color: $footer-color;
  color: $tertiary-color;
  text-align: center;
  @media screen and (max-width: 600px) {
    height: 150px;
    position: relative; 
  }
}

/* Styles pour le logo */
.footer img {
  width: 130px; 
  margin-bottom: center;
  @media screen and (max-width: 600px) {
  width: 110px;
}
}

/* Styles pour le texte du Footer*/
.text_footer {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 10px;
  max-width: 100%; /* Limite la largeur du texte pour un aspect allongé */
  @media screen and (max-width: 600px) {
    font-size: 1rem;
  }
}