.nav_link {
  /* Positionne la barre de navigation en haut à droite de la fenêtre */
  position: absolute;
  top: 25px;
  right: 60px;
  /* Lui donne une largeur minimale pour éviter que les éléments ne se chevauchent lorsque la fenêtre est réduite */
  min-width: 200px;
  /* Affiche les éléments de la barre de navigation en ligne */
  display: flex;
  /* Aligne les éléments de la barre de navigation verticalement */
  align-items: center;
  /* Supprime les puces des liens de navigation */
  list-style: none;
  /* Supprime la marge et le rembourrage par défaut des listes */
  padding: 0;
  /* taille du texte a propos et acceuil */
  font-size: 20px; 
  /* Ajoute un espacement horizontal entre les éléments */
  gap: 100px; /* Ajustez l'espacement horizontal selon vos préférences */
  
}

.nav_link a {
  /* Définit la couleur du texte à la couleur de la variable primary-color */
  color: $primary-color;
  text-decoration: none;
}

.nav_link a:focus-visible {
  text-decoration: underline;
  text-decoration-color: $primary-color;
}


