@import './sass/Variables';
@import './sass/Header';
@import './sass/NavBar';
@import './sass/Footer';
@import './sass/Banner';
@import './sass/About';
@import './sass/NotFound';
@import './sass/Collapse';
@import './sass/Card';
@import './sass/Carousel';
@import './sass/Contener';

// main.scss
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

/* Styles pour les téléphones */
@media screen and (max-width: 600px) {
  .header {
    height: 30px;
    img {
      height: 55px;
      margin-left: 10px;
    }
  }
}


