@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
.header {
  height: 68px;
  max-width: 100%;
  margin: 20px auto;
}
@media screen and (max-width: 600px) {
  .header {
    height: 20 px;
  }
}
.header img {
  height: 100%;
  margin-left: 55px;
}
@media screen and (max-width: 600px) {
  .header img {
    height: 80%;
    margin-left: 5px;
  }
}

.nav_link {
  position: absolute;
  top: 25px;
  right: 60px;
  min-width: 200px;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  font-size: 18px;
  gap: 50px;
}
@media screen and (max-width: 600px) {
  .nav_link {
    gap: 15px;
    justify-content: right;
    right: 10px;
    font-size: 17px;
    top: 25px;
  }
}
@media screen and (max-width: 280px) {
  .nav_link {
    gap: 10px;
    justify-content: right;
    right: 10px;
    font-size: 15px;
    top: 80px;
  }
}

.nav_link li {
  display: inline;
}

.nav_link a {
  text-decoration: none;
  color: #ff6060;
  transition: border-bottom 0.3s ease;
}

.nav_link a.active {
  border-bottom: 2px solid #ff6060;
  color: #ff6060;
}

.nav_link a:hover {
  color: red;
}

.footer {
  position: relative; /* Utilisation de position: absolute */
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 200px;
  padding: 0px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .footer {
    height: 150px;
    position: relative;
  }
}

/* Styles pour le logo */
.footer img {
  width: 130px;
  margin-bottom: center;
}
@media screen and (max-width: 600px) {
  .footer img {
    width: 110px;
  }
}

/* Styles pour le texte du Footer*/
.text_footer {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 10px;
  max-width: 100%; /* Limite la largeur du texte pour un aspect allongé */
}
@media screen and (max-width: 600px) {
  .text_footer {
    font-size: 1rem;
  }
}

.banner {
  position: relative;
  height: 180px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 50px;
  padding: 20px;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
}
@media screen and (max-width: 600px) {
  .banner {
    margin: 50px 0px;
  }
}

.banner_filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/BackgroundFilter.png");
  background-size: cover;
  border-radius: 25px;
}
@media screen and (max-width: 600px) {
  .banner_filter {
    border-radius: 25px;
  }
}

h1.banner_title {
  color: #ffffff;
  font-size: 52px;
  text-align: center;
  z-index: 1;
}
@media screen and (max-width: 600px) {
  h1.banner_title {
    font-size: 30px;
  }
}

.collapse_about {
  display: flex;
  color: #ff6060;
  flex-direction: column;
  padding-inline: 108px;
  margin-top: 15px;
  margin-bottom: 100px;
}
@media screen and (max-width: 600px) {
  .collapse_about {
    padding-inline: 0px;
  }
}

.page_about {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0px;
  flex-direction: column;
}

.not_found {
  color: #ff6060;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-bottom: 150px;
}
@media screen and (max-width: 600px) {
  .not_found {
    margin-top: 150px;
    margin-bottom: 300px;
  }
}

.not_found span {
  font-size: 288px;
  font-weight: bold;
  margin: 0;
}
@media screen and (max-width: 600px) {
  .not_found span {
    font-size: 120px;
  }
}

.not_found h4 {
  font-size: 36px;
  margin: 10px 0px;
}
@media screen and (max-width: 600px) {
  .not_found h4 {
    font-size: 15px;
    margin: 0px 0px;
  }
}

.not_found p {
  padding-top: 20px;
  margin: 0;
}
@media screen and (max-width: 600px) {
  .not_found p {
    padding-top: 30px;
  }
}

.not_found a {
  color: #ff6060;
}

.collapse {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.visible.collapse ul {
  color: #ff6060;
  padding: 36px 27px 19px 18px;
  margin: 0;
  text-align: justify;
  list-style-type: none;
}

.collapse__header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  height: 28px;
  background-color: #ff6060;
  color: #ffffff;
  font-size: 22px;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
}

.collapse__header span {
  padding-right: auto;
}

/* affiche le contenu */
.visible {
  display: block;
  background-color: #F6F6F6;
}

/* cache le contenu */
.hidden {
  display: none;
}

.chevronValue img {
  width: 25px;
  height: 15px;
}

.visible.collapse {
  position: relative;
  top: -10px;
  font-size: 18px;
  color: #ff6060;
  margin: 0;
  border-radius: 5px;
  box-shadow: 0px 0px 9px rgb(197, 195, 195);
  z-index: -1;
}

.equipement-content {
  margin: 0;
}

.logement {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
  height: 100%;
  margin-bottom: 100px;
}
@media screen and (max-width: 600px) {
  .logement {
    margin-left: 0;
    margin-right: 0;
    align-items: flex-start; /* Alignez à gauche */
  }
}

.ficheLogement {
  display: flex;
  margin-top: 30px;
}
@media screen and (max-width: 600px) {
  .ficheLogement {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .ficheLogement {
    align-items: flex-start;
  }
}

.ficheLogement h4 {
  color: #ff6060;
  margin-top: 10px;
  font-size: 18px;
}

.ficheLogement h1 {
  color: #ff6060;
  margin: 0;
  font-size: 36px;
}
@media screen and (max-width: 600px) {
  .ficheLogement h1 {
    font-size: 24px;
  }
}

.div-tags {
  display: flex;
  white-space: nowrap;
  flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
  .div-tags {
    flex-wrap: wrap; /* Utilisez "wrap" pour empêcher le débordement */
    justify-content: flex-start; /* Alignez à gauche */
  }
}

.tags {
  display: flex;
  align-items: center;
  padding-inline: 20px;
  padding-bottom: 2px;
  margin: 15px 20px 0 0;
  height: 25px;
  font-size: 15px;
  background-color: #ff6060;
  color: #ffffff;
  border-radius: 7px;
  white-space: nowrap;
}
@media screen and (max-width: 600px) {
  .tags {
    font-size: 12px;
    padding-inline: 10px;
    margin: 10px 5px 0 0;
    justify-content: flex-start; /* Alignez à gauche */
  }
}

.div-etoiles {
  display: flex;
  gap: 10px;
  color: #ff6060;
  width: 167px;
}
@media screen and (max-width: 600px) {
  .div-etoiles {
    width: 160px;
  }
}

.div-etoiles p {
  display: flex;
  text-align: right;
  font-size: 18px;
  width: 100px;
  height: 70px;
  align-items: center;
  text-shadow: 0px 0px 4px rgb(180, 166, 166);
}
@media screen and (max-width: 600px) {
  .div-etoiles p {
    width: auto;
    height: auto;
    font-size: 15px;
  }
}

.div-etoiles img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 20px;
  box-shadow: 0px 0px 8px rgb(175, 136, 136);
}
@media screen and (max-width: 600px) {
  .div-etoiles img {
    width: 70px;
    height: 70px;
    justify-content: center;
  }
}

.div-description {
  width: 100%;
}

.stars {
  display: flex;
  font-size: 25px;
  width: 100px;
  gap: 10px;
}
@media screen and (max-width: 600px) {
  .stars {
    width: auto;
    font-size: 20px;
    gap: 5px;
  }
}

/* Couleur des étoiles pleines */
.span1 {
  color: #ff6060;
  text-shadow: 0px 0px 5px rgb(180, 166, 166);
}

/* Couleur des étoiles vides */
.span2 {
  color: rgb(230, 224, 224);
}

.collapseLogement {
  display: flex;
  gap: 2rem;
  margin-top: 15px;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .collapseLogement {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    gap: 1rem;
  }
}

.carousel {
  position: relative;
  height: 415px;
  width: 100%;
  margin-top: 30px;
}
@media screen and (max-width: 600px) {
  .carousel {
    height: 350px;
  }
}

.carousel p {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 340px;
  text-align: center;
  text-shadow: 0px 0px 5px black;
}
@media screen and (max-width: 600px) {
  .carousel p {
    display: none;
  }
}

.classImage {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  inset: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0px 0px 24px #b3b1b1;
}

.carousel button {
  border: none;
  background-color: transparent;
  display: hidden;
  color: #ffffff;
}

.classChevronGauche {
  position: absolute;
  content: "";
  color: #ffffff;
  inset: 0;
  top: 40%;
  cursor: pointer;
  left: 20px;
}

.classChevronDroit {
  position: absolute;
  content: "";
  inset: 0;
  top: 40%;
  cursor: pointer;
  left: calc(100% - 70px);
}

/* Media query pour réduire les chevrons à partir de 600px */
@media screen and (max-width: 600px) {
  .classChevronGauche {
    left: 10px; /* Ajustez la nouvelle position si nécessaire */
  }
  .classChevronDroit {
    left: calc(100% - 60px); /* Ajustez la nouvelle position si nécessaire */
  }
}
.logements {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  justify-content: center;
  background: #F6F6F6;
  padding: 45px;
  margin: 0px 50px;
  margin-bottom: 25px;
  border-radius: 25px;
}
@media screen and (max-width: 600px) {
  .logements {
    padding: 0px;
    margin: 30px 0px;
  }
}

.logements a {
  text-decoration: none;
}

/* Card Logement */
.fiche-logement {
  background-image: linear-gradient(180deg, #FF6060, #FF6060, #FF6060, #8e3434);
  border-radius: 8px;
  transition: 0.3s;
  min-width: 280px;
  width: 100%;
  padding-bottom: 10px;
}

.fiche-logement img {
  width: 100%;
  border-radius: 7px 7px 0px 0px;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}

.fiche-logement h3 {
  display: flex;
  height: 60px;
  font-size: 18px;
  font-weight: 500;
  line-height: 142.6%;
  margin: 0px 20px;
  align-items: center;
  overflow: hidden;
  color: #ffffff;
}

.fiche-logement:hover {
  box-shadow: 0px 0px 5px #4e3434;
  cursor: pointer;
}

body {
  font-family: "Montserrat", sans-serif;
}/*# sourceMappingURL=main.css.map */